<div class='row'>
  <div class="col-md-8">
    <div class="media">
      <br/>
      <!-- fetch the show instance of users avatar and set it to a variable  -->
      <% avatar_url = @user.avatar_url(128) %>
      <% if avatar_url %>
      <div class="media-left">
        <%= image_tag avatar_url, class: 'media-object' %>
      </div>
      <% end %>
      <div class="media-body">
        <h2 class="media-heading"><%= @user.name %></h2>
        <small>
          <%= pluralize(@user.posts.count, 'post') %>
          <%= pluralize(@user.comments.count, 'comments') %>
        </small>
      </div>
    </div>
  </div>
</div>

<div class="row">
<% if current_user %>
  <h2>Posts</h2>
  <% if posts_empty?(current_user) %>
    <p><%= "#{current_user.name} has not submitted any posts yet." %></p>
  <% else %>
      <%= render @user.posts %>
  <% end %>
  <br />
  <h2>Comments</h2>
  <% if comments_empty?(current_user) %>
    <p><%= "#{current_user.name} has not submitted any comments yet." %></p>
  <% else %>
      <%= render @user.comments %>
  <% end %>
<% end %>


<h2><%= current_user.name %>'s Favorite Post(s):</h2><br />
<% @user.favorites.each do |favorite| %>
  <%= render partial: 'votes/voter', locals: { post: favorite.post } %>
  <p><%= image_tag favorite.post.user.avatar_url(24) %>&nbsp<%= link_to "#{favorite.post.title}" %></p>
  <small><strong>Number of Comments: </strong><%= favorite.post.comments.count %></small><br /><br />
<% end %>
</div>
